html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
	background:#0E9DCE;
	font-family: 'Open Sans', sans-serif;

}
.wrap{
	margin: 0 auto;
	width: 80%;
}


.sevdetails{
	width: 30%;
	margin:0 auto;
}

/**--sevdetails-----**/
.userdetails{

	padding: 5em 0;
}
.sevdetails h3{
	color:#625E5E;
	font-weight: 400;
	font-size: 1.6em;
	text-align: left;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 1em;
}
.sevdetails input[type=text]{
	float:left;
	width:76%;
	padding: 1em 2em 1em 1em;
	border:none;
	color: #000;
	font-size:15px;
	float: left;
	outline: none;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}
form.details li{
	display: block;
	color: #4D4949;
	border: 1px solid #D6D0D0;
	margin-bottom: 10px;
	background: #f7f7f7;
}
.sevdetails {
background: #f7f7f7;
padding: 3em 2em 5em 2em;
border: 15px solid#0e98b8;
}
.icon8
{
	height:7px;
	width:7px;
	display: block;
	float: right;
	margin: 23px 23px 3px 8px;
}
.star,.into{
	background:url(../images/star.png)no-repeat 0px 0px;
}
.sevdetails input[type="button"] {
font-size: 25px;
font-weight: 600;
padding: 6px;
color: #fff;
display: inline-block;
font-family: 'Oswald', sans-serif;
cursor: pointer;
-webkit-appearance: none;
border: none;
outline: none;
 margin-top: 10px;
 float: right;
background:#14b9d6;
}
.sevdetails input[type="button"]:hover{
	background:#0e9db6;
}